@import '../bower_components/normalize-css/normalize.css';

body {
  background: url(/assets/images/rainbow.gif) center center no-repeat;
  background-size: cover;
}

.silhouette {
  max-height: 90vh;
  padding-top: 10vh;
}

.sparkle {
  position: absolute;
  top: 33vh;
  left: 50%;
  margin-left: -50px;
  transform: translate(-23vh, 0);
}

.sparkle .group {
    -webkit-transform: translate(42.5px,42.5px);
    -moz-transform: translate(42.5px,42.5px);
    transform: translate(42.5px, 42.5px);
}

.sparkle path {
    -webkit-transform: translate(-42.50px,-42.50px);
    -moz-transform: translate(-42.50px,-42.50px);
    transform: translate(-42.50px,-42.50px);
}

.sparkle .large {
  -webkit-animation: large 2.5s infinite;
  -moz-animation: large 2.5s infinite;
}

.sparkle .large-2 {
  -webkit-animation: large-2 2.5s infinite;
  -moz-animation: large-2 2.5s infinite;
}

.sparkle .small {
  -webkit-animation: small 2.5s infinite;
  -moz-animation: small 2.5s infinite;
}

@-webkit-keyframes large {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
  }
}

@-moz-keyframes large {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(1.5);
  }
}

@-webkit-keyframes large-2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(405deg) scale(1.1);
    transform: rotate(405deg) scale(1.1);
  }
}

@-moz-keyframes large-2 {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(405deg) scale(1.1);
  }
}

@-webkit-keyframes small {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-360deg) scale(1);
    transform: rotate(-360deg) scale(1.5);
  }
}

@-moz-keyframes small {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) scale(1.5);
  }
}
